# This is a Packer-managed file; manual changes may be overwritten.
# see https://github.com/workloads/packer-templates/blob/main/ansible/playbooks/templates/units/nomad.service.j2

### BEGIN INIT INFO
# Provides:          nomad
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: distributed scheduler
# Description:       distributed, highly available, datacenter-aware scheduler
### END INIT INFO

[Unit]
Description="HashiCorp Nomad (Type: {{ nomad_type }})"
Documentation=https://developer.hashicorp.com/nomad/docs
Requires=network-online.target
After=network-online.target
Wants=network-online.target

{# wait for Docker if Docker is present in Tools configuration #}
After=network-online.target {% if tools.docker %}docker.service{% endif %}

ConditionDirectoryNotEmpty=/etc/nomad.d/
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=root
Group=bin
ExecStart=/usr/bin/nomad agent -config=/etc/nomad.d/
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitMEMLOCK=infinity
OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=30s
TasksMax=infinity
Type=notify

[Install]
WantedBy=multi-user.target
